<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @personal_workspace.user_id %>
</p>

<%= link_to 'Edit', edit_personal_workspace_path(@personal_workspace) %> |
<%= link_to 'Back', personal_workspaces_path %>
