.cardContainer {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;

  .card {
    width: 150px;
    height: 100px;
    background-color: white;
    box-shadow: 3px 2px 12px -2px rgba(175, 175, 175, 0.67);
    border-radius: 5px;
    position: absolute;
    right: 15vw;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    pointer-events: all;
    cursor: pointer;

    &:last-child {
      right: 35vw;
      top: 50vh;
      z-index: 5;
    }

    .close {
      position: absolute;
      right: 6%;
      top: 6%;
      font-size: 20px;
    }
  }
}
