body {
  transition: 0.5s ease;
}

#contentEditable {
  height: 100px;
  width: 80vw;
  text-overflow: ellipsis;
  line-height: 133%;
  position: relative;
  top: 6vh;
  left: 7vw;
  display: flex;
  flex-direction: row;
  font-size: 100px;
  border: none;
  font-weight: 300;
  font-family: Helvetica;
  caret-color: #ec0dd1;
  border-bottom: none;

  .placeholder {
    width: 80vw;
    line-height: 133%;
    border-bottom: none;
    &:empty::before {
      line-height: 133%;
      font-size: 100px;
      content: 'Write here to translate';
      color: #c5c5c5;
      position: relative;
    }
    &:empty:not(:focus) {
      border: none;
    }
    &:focus {
      outline: none;
      transition: 0.1s ease;
      /*       overflow: scroll;
white-space: nowrap; */
      height: 115px;
    }
    &:not(:focus) {
      font-size: 45px;
      line-height: 45px;
      height: 68px;
      transition: 0.05s cubic-bezier(0.76, 0.06, 0, 1.21);
      border-bottom: 1.5px solid #f6daff;
    }
  }
  .button {
    width: 55px;
    height: 55px;
    background: white;
    box-shadow: 3px 2px 12px -2px rgba(175, 175, 175, 0.67);
    border: none;
    border-radius: 33px;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    position: absolute;
    top: 0;
    left: -76px;
    cursor: pointer;
    &:hover {
      background: #fbfbfba3;
      box-shadow: 3px 2px 12px -2px rgba(236, 13, 209, 0.67);
    }

    &:focus {
      outline: none;
    }
  }
}

#result {
  margin-top: 40px;
  position: relative;
  left: 7vw;

  .translation {
    font-family: helvetica;
    font-size: 45px;
    font-weight: 100;
    line-height: 133%;
    margin-top: 63px;
  }
  .dictionary {
    margin-top: 70px;
    .wordBlock {
      .word {
        display: flex;
        flex-direction: row;
        font-size: 15px;

        .wordTranscription {
          color: #ec0dd1;
        }

        .wordPos {
          font-size: 11px;
          line-height: 11px;
          margin: 0 0 8px 1px;
          color: #c5c5c5;
        }
        .wordIrregular {
          color: #c1c1c1;
          margin-left: 3px;
        }
      }

      .translatedText {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: Helvetica;
        font-weight: 300;
        font-size: 17px;
        line-height: 133%;
        margin-bottom: 10px;
        .translatedTextSynonims {
          display: flex;
          flex-direction: row;

          .translatedTextNumber {
            font-size: 13px;
            font-weight: 400;
            margin-right: 4px;
            text-align: center;
          }
        }
        .translatedTextMeaning {
          color: #a408ca;
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
